@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Rubik+Bubbles&family=Rubik+Dirt&display=swap');

/*
Fonts:
-Title 
font-family: "Rubik Dirt", system-ui;
-subtitle
font-family: "Rubik Bubbles", system-ui;
-text
font-family: "Chau Philomene One", sans-serif;
*/

/* Colors
#00309D
#C00000
#000000
*/
h1, h2 {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 100;
}
body {
    background-image: linear-gradient(to right top, #d1d7e0, #dddce5, #e8e2e9, #f2e8ec, #f9efef);  
}

.nav-navbar {
    height: 80px;
    width: 100%;
}

.nav-navbar ul li {
    width: 100px;
}

.a__navbar-logo {
    width: 64px;
    height: 64px;
}

.a__navbar-logo img{
    width: 100%;
}

.section__banner div div img {
    height: 290px;
    border: 1px solid black;
}

.section__banner__div {
    margin-top: 124px;
}

.section__banner .carousel-control-prev{
    margin-left: 12.5%;
}

.section__banner .carousel-control-next{
    margin-right: 12.5%;
}

.section__div-bancat img {
    width: 80px;
    height: 80px;
}

.section__div-bancat {
    height: 80px;
    width: 200px;
}

.section-cat h2{
    text-align: center;
    margin: auto auto;
    background-color: #00309D;
    height: 80px;
    width: 95%;
}

.section-cat .card img {
    height: 320px;
    object-fit: cover;
}

.footer {
    background-color: #00309D;
}

.footer__div-logo {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}